.outerPanel {
  width: 90%;
  margin: 1em auto;
}

#panelHeader {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 0 3em;
  background-color: var(--normal-background);
  border: 1px var(--normal-highlight) solid;
  border-radius: 10px;
}

.innerPanel {
  width: 100%;
  height: 100%;
  padding-left: calc(3em - 2px);
}

.moukou {
  width: 125px;
  height: 125px;
  object-fit: contain;
  margin: 10px;
  background-color: var(--normal-background);
  padding: 2px;
  border: 1px solid var(--normal-highlight);
  border-radius: 5%;
}
