:root {
  --tno-highlight: #59c7c2;
  --tno-mix: #112625;
  --tno-background: #050c16;
  --normal-highlight: black;
  --normal-mix: rgb(181, 181, 181);
  --normal-background: white;
  background-color: var(--normal-background);
  overflow-y: scroll;
  font-family: url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*border: 1px red solid;*/
}

h1,
h2,
h3,
p,
input {
  font-family: "Aldrich", monospace, Courier;
  color: var(--normal-highlight);
}

header {
  width: 100%;
  min-height: 150px;
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#searchBar {
  width: 75%;
  min-height: 50px;
  display: block;
  margin: 0.5em auto 0.5em auto;
  padding-left: 1em;
  border-radius: 5px;
  border: 1px var(--normal-highlight) solid;
  background-color: var(--normal-background);
}

::placeholder {
  color: var(--normal-highlight);
}

#title {
  width: 100%;
  text-align: center;
  padding: 0.5em 0 0.2em 0;
}

footer {
  width: 85%;
  border-top: 1px solid var(--normal-highlight);
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1em;
}

.footer-text {
  padding: 1em;
}

.flex-left-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-left-right-even {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.center-vertical {
  margin-top: auto;
  margin-bottom: auto;
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}

.font-big {
  font-size: 4em;
}

.font-med {
  font-size: 1.3em;
}

.font-small {
  font-size: 1em;
}

.circle {
  border-radius: 50%;
}

.padding-left-small {
  padding-left: 0.5em;
}

.padding-right-small {
  padding-right: 0.5em;
}

#settings {
  margin: 0 30em;
}

#results-per-panel-input {
  width: 3em;
  text-align: center;
  font-weight: bold;
}
